* {
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
}

:root {
    --first-color: #5b4834;
    --second-color: #aaa69d;
}

a,
a:hover {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}
#side-area{
    background-color: var(--first-color);
    color: #fff;
    padding: 20px 0;
}
#side-area h4{
    text-align: center;
    margin: 0 0 30px 0;
}
#side-area ul{
    
    list-style: none;
    padding: 0;
}
#side-area ul li{
    background-color: var(--second-color);
    margin-bottom: 5px;
    padding: 5px;
}
#side-area ul li a{
    color: #fff;
}
#side-area #menu li{
    background-color: #000;
}

/* categores */
.add-category{
    margin-top: 30px;
}
.btn-custom{
    background-color: var(--first-color);
    color: #fff;
    border: 1px solid var(--first-color);
    padding: 5px 15px;
    
}
.btn-custom:hover{
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
}